/* Typography */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
/* Colors */
/* Shadows */
/* Typography Size */
/* Weights*/
/* Box sizing and spacing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove default link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Reset headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* Set base font and line height */
html {
  font-size: 100%;
  line-height: 1.5;
  scroll-behavior: smooth;
}

/* Remove default form styles */
button,
input,
select,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

/* Image defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Reset body */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: system-ui, sans-serif;
  background-color: #fff;
  color: #000;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* Mobile */
}
.nav-bar .logo img {
  width: 128px;
}
.nav-bar .links {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: row;
  flex: 1;
  transition: all 0.2s ease-in-out;
}
.nav-bar .links .dropdown {
  position: relative;
}
.nav-bar .links .dropdown .dropdown-items {
  display: none;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 0.5rem;
  border: solid 1px #f3f4f6;
  border-radius: 8px;
  min-width: 10rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}
.nav-bar .links .dropdown .dropdown-items .btn {
  justify-content: start;
}
.nav-bar .links .dropdown:hover .dropdown-items {
  display: flex;
}
.nav-bar .actions {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.nav-bar .mobile {
  display: none;
}
@media (max-width: 880px) {
  .nav-bar .links {
    display: none;
  }
  .nav-bar .mobile {
    display: flex;
  }
}
@media (max-width: 420px) {
  .nav-bar .btn-secondary {
    display: none;
  }
  .nav-bar .logo img {
    width: 100px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* Sizes */
}
.btn-primary {
  background-color: #2563eb;
  border: solid 1px #2563eb;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  color: #fff;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(255, 255, 255, 0.075) 0 1px 1px;
}
.btn-primary:hover {
  background-color: #1d4ed8;
  border-color: #1d4ed8;
  color: #fff;
}
.btn-primary:active {
  background-color: #1e40af;
  border: solid 1px #1e40af;
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.btn-secondary {
  border: solid 1px #e5e7eb;
  background-color: #fff;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  color: #111827;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(255, 255, 255, 0.15) 0 1px 1px;
}
.btn-secondary:hover {
  background-color: #f9fafb;
  color: #111827;
}
.btn-secondary:active {
  background-color: #f3f4f6;
  color: #111827;
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
}
.btn-ghost {
  border: solid 1px transparent;
  background-color: transparent;
  color: #111827;
  box-shadow: none;
}
.btn-ghost:hover {
  background-color: #f9fafb;
}
.btn-ghost:active {
  background-color: #f3f4f6;
}
.btn--sm {
  padding: 0.5rem 0.75rem;
  height: 40px;
  font-size: clamp(1rem, 1.2vw, 1rem);
}
.btn--sm svg {
  height: 1rem;
}
.btn--md {
  padding: 0.5rem 1rem;
  height: 44px;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.btn--md svg {
  height: 1rem;
}
.btn--lg {
  padding: 1rem 1.5rem;
  height: 50px;
}
.btn--lg svg {
  height: 1.25rem;
}

.play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.75rem 1.25rem;
  border-radius: 100px;
  font-size: clamp(1rem, 1.2vw, 1rem);
  font-weight: 500;
  background-color: #111827;
  color: #fff;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
.play-button svg {
  height: clamp(1rem, 1.2vw, 1rem);
}
.play-button:hover {
  scale: 1.04;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.pill {
  border-radius: 100px;
  cursor: pointer;
  font-weight: 500;
}
.pill-default {
  background-color: #fff;
  border: solid 1px #e5e7eb;
  color: #4b5563;
}
.pill-default:hover {
  background-color: #f9fafb;
  border: solid 1px #d1d5db;
  color: #1f2937;
}
.pill-selected {
  background-color: #1f2937;
  border: solid 1px #1f2937;
  color: #fff;
}
.pill-selected:hover {
  background-color: #111827;
  border: solid 1px #111827;
  color: #fff;
}
.pill--sm {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}
.pill--md {
  font-size: clamp(1rem, 1.2vw, 1rem);
  padding: 0.5rem 0.75rem;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8rem 3rem;
  margin: auto;
  gap: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 880px) {
  .hero {
    padding: 8rem 1.5rem;
    margin: auto;
  }
}
.hero .hero-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  gap: 0.5rem;
  text-align: center;
}
.hero h1 {
  color: #1f2937;
}
.hero .h5 {
  font-weight: 300;
  color: #4b5563;
}

.hero-video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}
.hero-video video {
  border-radius: 0.5rem;
}
.hero-video .play-button {
  margin-top: -1.75rem;
}

.built-for-adventure {
  position: relative;
  padding: 8rem 3rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.built-for-adventure .section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  gap: 0.5rem;
  text-align: center;
  margin: auto;
}
.built-for-adventure .section-title h2, .built-for-adventure .section-title p {
  text-align: center;
  text-align: center;
  color: #1f2937;
}
.built-for-adventure .section-title p {
  font-weight: 300;
  color: #4b5563;
}
@media screen and (max-width: 880px) {
  .built-for-adventure {
    padding: 8rem 1.5rem;
    margin: auto;
  }
}
.built-for-adventure .section-bg {
  position: absolute;
  width: 100vw;
  top: 0;
  height: 65%;
  background-color: #f3f4f6;
  pointer-events: none;
  z-index: -1;
}
.built-for-adventure img {
  width: 100%;
  max-width: 920px;
}
.built-for-adventure .mobile {
  display: none;
}
@media (max-width: 880px) {
  .built-for-adventure .desktop {
    display: none;
  }
  .built-for-adventure .mobile {
    display: block;
  }
}

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8rem 3rem;
  margin: auto;
  max-width: 1280px;
  margin: auto;
  gap: 2rem;
  position: relative;
}
@media screen and (max-width: 880px) {
  .features {
    padding: 8rem 1.5rem;
    margin: auto;
  }
}
.features .section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  gap: 0.5rem;
  text-align: center;
  margin: auto;
}
.features .section-title h2, .features .section-title p {
  text-align: center;
  text-align: center;
  color: #1f2937;
}
.features .section-title p {
  font-weight: 300;
  color: #4b5563;
}
.features .section-bg {
  position: absolute;
  width: 100vw;
  top: 34%;
  height: 38%;
  background-image: url("../assets/dirt-bg.jpg");
  background-size: cover;
  opacity: 0.4;
  pointer-events: none;
  z-index: -1;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  width: 100%;
}
@media screen and (max-width: 880px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 420px) {
  .features-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.features-card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
  border: solid 1px #e5e7eb;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.features-card svg {
  color: #6b7280;
}
.features-card .card-text {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  text-align: center;
}
.features-card .card-text h4 {
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.features-card .card-text p {
  color: #4b5563;
}
.features-card:hover {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  scale: 1.04;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 8rem 3rem;
  margin: auto;
  max-width: 1280px;
  margin: auto;
  gap: 2rem;
}
@media screen and (max-width: 880px) {
  .blog {
    padding: 8rem 1.5rem;
    margin: auto;
  }
}
.blog .section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  gap: 0.5rem;
  text-align: center;
  margin: auto;
}
.blog .section-title h2, .blog .section-title p {
  text-align: center;
  text-align: center;
  color: #1f2937;
}
.blog .section-title p {
  font-weight: 300;
  color: #4b5563;
}

.category-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 2rem;
}
@media screen and (max-width: 880px) {
  .articles-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .articles-grid {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
  }
}

.blog-card {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
  cursor: pointer;
}
.blog-card .metadata {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  font-size: clamp(1rem, 1.2vw, 1rem);
  gap: 0.5rem;
}
.blog-card .metadata span {
  color: #6b7280;
}
.blog-card .metadata .categories {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}
.blog-card img {
  width: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 3/2;
}
.blog-card .content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}
.blog-card .content h6 {
  color: #1f2937;
}
.blog-card .content p {
  font-weight: 300;
  color: #4b5563;
}
.blog-card .author {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  gap: 0.5rem;
}
.blog-card .author img {
  width: 1.5rem;
  border-radius: 100%;
  aspect-ratio: 1/1;
}
.blog-card .author p {
  color: #1f2937;
  font-weight: 500;
  font-size: clamp(1rem, 1.2vw, 1rem);
}

.cta-wrapper {
  padding: 8rem 3rem;
  margin: auto;
  max-width: 1280px;
  margin: auto;
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 880px) {
  .cta-wrapper {
    padding: 8rem 1.5rem;
    margin: auto;
  }
}
.cta-wrapper .cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  padding: 3rem;
  background: linear-gradient(to top right, #111827, #374151);
  color: #fff;
  border-radius: 0.5rem;
  flex-wrap: wrap;
}
.cta-wrapper .cta .content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
  max-width: 500px;
}
.cta-wrapper .cta .content p {
  font-weight: 500;
  color: #d1d5db;
}
@media screen and (max-width: 600px) {
  .cta-wrapper .cta {
    padding: 1.5rem;
  }
}
@media screen and (max-width: 600px) {
  .cta-wrapper .actions {
    flex-direction: column;
    width: 100%;
  }
  .cta-wrapper .actions .input, .cta-wrapper .actions .btn {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .cta-wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.input {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border-radius: 0.5rem;
  cursor: text;
  border: solid 1px #e5e7eb;
  background-color: #f9fafb;
  color: #1f2937;
}
.input::-moz-placeholder {
  color: #9ca3af;
}
.input::placeholder {
  color: #9ca3af;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  border-top: solid 1px #e5e7eb;
  margin-top: 4rem;
  background-color: #f3f4f6;
}

.footer-grid {
  padding: 3rem;
  padding-bottom: 10rem;
  gap: 2rem;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 880px) {
  .footer-grid {
    padding: 3rem 1.5rem;
    margin: auto;
    padding-bottom: 10rem;
  }
}
@media screen and (max-width: 880px) {
  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
@media screen and (max-width: 420px) {
  .footer-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
}

.logo-cta {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer-column {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 1rem;
}
.footer-column ul {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 0.5em;
}

/* Make text crispier */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #f9fafb;
}

/* Applying typography */
body {
  font-family: "Plus Jakarta Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #1f2937;
}

h1, .h1 {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  font-weight: 700;
  letter-spacing: -2px;
  text-wrap: balance;
  line-height: 1.2;
}

h2, .h2 {
  font-size: clamp(2rem, 4vw, 2.5rem);
  font-weight: 700;
  letter-spacing: -1px;
  text-wrap: balance;
  line-height: 1.2;
}

h3, .h3 {
  font-size: clamp(1.5rem, 3vw, 2rem);
  font-weight: 700;
  text-wrap: balance;
  line-height: 1.2;
}

h4, .h4 {
  font-size: clamp(1.25rem, 2.5vw, 1.75rem);
  font-weight: 700;
  text-wrap: balance;
  line-height: 1.4;
}

h5, .h5 {
  font-size: clamp(1.15rem, 2vw, 1.25rem);
  font-weight: 700;
  text-wrap: balance;
  line-height: 1.4;
}

h6, .h6 {
  font-size: clamp(1rem, 1.5vw, 1rem);
  font-weight: 700;
  text-wrap: balance;
  line-height: 1.4;
}

p, a, .p {
  font-size: clamp(1rem, 1.5vw, 1rem);
  font-weight: 500;
  line-height: 1.6;
}

.small {
  font-size: clamp(1rem, 1.2vw, 1rem);
  font-weight: 500;
  line-height: 1.6;
}

a {
  color: #1f2937;
}
a:hover {
  color: #2563eb;
}

/* Actions / Buttons Group */
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

/* Extra Bar */
.extra-bar {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  padding: 1rem 1rem 1rem 2rem;
  background-color: #2563eb;
  color: #fff;
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.extra-bar .actions {
  gap: 0.5rem;
}
.extra-bar .btn {
  border: solid 1px #bfdbfe;
  color: #fff;
  font-size: clamp(1rem, 1.5vw, 1rem);
}
.extra-bar .btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 800px) {
  .extra-bar .bottom-bar {
    display: none !important;
  }
}/*# sourceMappingURL=style.css.map */